.contact_info{
    min-width: 90%;
    max-width: 100%;
    /* background-color: rgb(256,256,256, .5); */
    /* border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 1px;
    border-radius: 10px; */
}